@import "_variables.less";

.quick-contact__container {
    display: flex;
}

.quick-contact__item {
    display: flex;
    flex: 1;
    color: @fontColorDark;
    font-weight: 600;
    a {
        color: @fontColorDark;
        font-weight:600;
    }
    span {
        display: inline-block;
        width: 85px;
        height: 85px;
        line-height: 85px;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 30px;
        color: #fff;
        border-radius: 100%;
        margin-right: 10px;
    }

    &.item--1 {
        span {
            background-color: @backgroundColor2;
        }
    }

    &.item--2 {
        span {
            background-color: @backgroundColor3;
        }

    }

    &.item--3 {
        span {
            background-color: @backgroundColor4;
        }
    }
}

.quick-contact__icon {
    flex: 1;
}

.quick-contact__info {
    flex: 3;
}

@media (max-width: @largeBreakPoint) {
    .quick-contact__item {
        display: block;
    }
    .quick-contact__info {
        padding-top: @standardPadding;
    }
}

@media (max-width: @tabletBreakPoint) {
    .quick-contact__icon {
        flex: 0;
    }
    .quick-contact__item {
        margin-top: @standardPadding;
        display: flex;
    }
    .quick-contact__info {
        padding-top: 0;
    }
    .quick-contact__container {
        display: block;
    }
}
