@import "_variables.less";

.banner__splash {
    position: relative;
}
.banner__splash img {
    width: auto;
    height: 200px;
}

.about-school__content {
    h2 {
        font-size: 2em;
        text-transform: none;
    }
}


@media (min-width: @tabletBreakPoint){
    .banner__splash img {
        height: 282px;
    }
}

