@import "_variables.less";

.three-column-container {
    display: flex;
    flex-wrap: wrap;
    margin: @standardPadding auto;
    max-width: @largeMaxWidth;
    padding: @standardPadding;

    img {
        width: 100%;
        height: auto;
    }

    .column-one {
        width: 25%;
    }
    .column-two {
        width: 50%;
        padding: 0 @standardPadding;
    }
    .column-three {
        width: 25%;
    }
}

.bottom-content, .top-content {
    p {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }
    margin: 3em 0;
    @media (max-width: @tabletBreakPoint) {
        margin: 3em 0;
    }
}

ul.bulleted-list {
    margin: 0 0 1em 3em;
    li {
        list-style-type: disc;
        margin: 0.5em 0;
        padding: 0;
    }
}

.two-column__list {
    display: flex;
    flex-wrap: wrap;
    li {
        padding: @standardPadding;
        width: 50%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.single-column__list {
    display: flex;
    flex-wrap: wrap;
    li {
        padding: @standardPadding;
        width: 100%;
        img {
            max-width: 100%;
            height: auto;
        }
    }

}
.four-column__list {
    display: flex;
    flex-wrap: wrap;
    li {
        padding: @standardPadding;
        width: 25%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section-title {
    text-align: center;
    h2 {
        float: none;
        width: auto;
        text-transform: none;
    }
}

.loader__overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.25;
}

.loader__spinner {
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border: 12px solid #f3f3f3;
    border-top: 12px solid @backgroundColor4;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
.error-message {
    color: red;
    margin: 1em;
    font-size: 1.1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: @largeBreakPoint) {
    .three-column-container {
        max-width: @largeMaxWidth;
    }
}

@media (max-width: @tabletBreakPoint) {
    .three-column-container {
        display: block;
        width: auto;
        padding: 0;

        .column-one {
            width: auto;
            padding: @standardPadding;
        }
        .column-two{
            width: auto;
            padding: @standardPadding;
        }
        .column-three {
            width: auto;
            padding: @standardPadding;
        }
    }

    .two-column__list {
        display: block;
        li {
            width: 100%;
        }
    }
}
