// out: false
@largeBreakPoint: 1200px;
@normalBreakPoint: 992px;
@tabletBreakPoint: 768px;
@phoneBreakPoint: 480px;
@tinyBreakPoint: 320px;

@largeMaxWidth: 1170px;
@normalMaxWidth: 992px;
@tabletMaxWidth: 750px;
@phoneMaxWidth: 450px;
@tinyMaxWidth: auto;