.three-column-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto;
  max-width: 1170px;
  padding: 1em;
}
.three-column-container img {
  width: 100%;
  height: auto;
}
.three-column-container .column-one {
  width: 25%;
}
.three-column-container .column-two {
  width: 50%;
  padding: 0 1em;
}
.three-column-container .column-three {
  width: 25%;
}
.two-column__list {
  display: flex;
  flex-wrap: wrap;
}
.two-column__list li {
  padding: 1em;
  width: 50%;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  float: none;
  width: auto;
  text-transform: none;
}
.bottom-content,
.top-content {
  margin: 6em 0;
}
@media (max-width: 768px) {
  .bottom-content,
  .top-content {
    margin: 3em 0;
  }
}
@media (max-width: 1200px) {
  .three-column-container {
    max-width: 1170px;
  }
}
@media (max-width: 768px) {
  .three-column-container {
    display: block;
    width: auto;
    padding: 0;
  }
  .three-column-container .column-one {
    width: auto;
    padding: 1em;
  }
  .three-column-container .column-two {
    width: auto;
    padding: 1em;
  }
  .three-column-container .column-three {
    width: auto;
    padding: 1em;
  }
  .two-column__list li {
    width: 100%;
  }
}
.site-nav {
  background-color: #fbf59f;
}
.site-nav__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.site-nav__logo {
  flex: 1;
}
.nav-menu__expander {
  flex: 1;
  flex-grow: 1;
}
.nav-menu__expander i {
  display: none;
}
.site-nav__menu {
  flex: 3;
}
.nav-menu__spacer {
  flex-grow: 1;
}
.nav-menu__root {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-menu__root li a {
  color: #ea7066;
}
.nav-menu__item {
  text-align: center;
  padding: 1em;
}
.nav-menu__item:hover {
  opacity: 0.8;
}
.nav-item__label {
  padding-top: 3px;
  font-size: 1.2em;
  font-weight: bold;
}
.nav-item__icon {
  text-align: center;
}
.nav-item__icon i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 100%;
  color: #fff;
  background-color: #ea7066;
  font-size: 16px;
}
.nav-menu__close {
  display: none;
  position: absolute;
  top: 0.5em;
  left: 1em;
  z-index: 101;
  cursor: pointer;
  text-align: center;
}
.nav-menu__close i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .site-nav__logo img {
    max-height: 50px;
    width: auto;
  }
  .nav-menu__expander {
    align-self: flex-end;
    text-align: right;
  }
  .nav-menu__expander i {
    cursor: pointer;
    color: #fff;
    background-color: #ea7066;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
  }
  .nav-menu__expander i:hover {
    opacity: 0.8;
  }
  .site-nav__menu {
    position: fixed;
    height: auto;
    width: 50%;
    right: -50%;
    top: 0;
    z-index: 100;
    background-color: #84bed6;
    transition: right 0.5s ease-in-out;
  }
  .site-nav__menu i {
    color: #84bed6 !important;
    background-color: #fff !important;
  }
  .site-nav__menu .nav-item__label {
    color: #fff;
  }
  .site-nav__menu.menu--expanded {
    right: 0;
  }
  .site-nav__menu.menu--expanded .nav-menu__close {
    display: block;
  }
  .site-nav__menu.menu--collapsing .nav-menu__close {
    display: block;
  }
  .nav-menu__item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  }
  .nav-menu__overlay {
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: black;
    z-index: -1;
  }
  .nav-menu__overlay.menu--expanded {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    opacity: 0.5;
  }
  .nav-menu__overlay.menu--collapsing {
    opacity: 0;
  }
  .nav-menu__root {
    display: block;
    height: auto;
  }
  .nav-menu__root.menu--expanded {
    right: 0;
  }
}
.site-form {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
}
.site-form button {
  background-color: #ea7066;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border: none;
  display: inline-block;
}
.site-form button:hover {
  color: #ffffff;
  outline: 0;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}
.form__actions {
  padding: 0.5em;
  text-align: center;
  width: 100%;
}
.form__field {
  padding: 0.5em;
  position: relative;
  width: 100%;
}
.form__field:nth-child(4n+1) input,
.form__field:nth-child(4n+1) textarea {
  border-color: #f0c24b;
}
.form__field:nth-child(4n+2) input,
.form__field:nth-child(4n+2) textarea {
  border-color: #b5d56a;
}
.form__field:nth-child(4n+3) input,
.form__field:nth-child(4n+3) textarea {
  border-color: #ea7066;
}
.form__field:nth-child(4n+4) input,
.form__field:nth-child(4n+4) textarea {
  border-color: #84bed6;
}
.form__field input,
.form__field textarea {
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: none;
  padding: 12px 12px;
  padding-right: 50px;
  font-size: 14px;
}
.form__field textarea {
  height: 147px;
}
.form__field.field--half-width {
  width: 50%;
}
.form__field label {
  padding-left: 1em;
}
.form__field-error {
  display: none;
}
.form-field--error .form__field-error {
  display: block;
  color: #b94a48;
  font-weight: bold;
}
.form-field--error input,
.form-field--error textarea {
  border-color: #b94a48 !important;
  box-shadow: 0 0 5px #b94a48 !important;
}
.form__field-icon {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 2.5em;
  margin-right: 0.5em;
  color: #888;
}
@media (max-width: 768px) {
  .form__field.field--half-width {
    width: 100%;
  }
}
.banner__splash {
  position: relative;
}
.banner__splash img {
  width: auto;
  height: 200px;
}
.about-school__content {
  clear: both;
}
.about-school__content h2 {
  font-size: 2em;
  text-transform: none;
}
.about-school__photo--mobile {
  text-align: center;
  display: none;
  float: left;
  margin-right: 1em;
}
.about-school__photo--mobile img {
  max-height: 250px;
  width: auto;
}
@media (min-width: 768px) {
  .banner__splash img {
    height: 282px;
  }
}
@media (max-width: 768px) {
  .about-school__photo {
    display: none;
  }
  .about-school__photo--mobile {
    display: block;
  }
}
@media (max-width: 480px) {
  .about-school__photo--mobile img {
    max-height: 150px;
  }
}
.right-callout {
  padding: 1em;
  padding-bottom: 2em;
  background-color: #84bed6;
  border-radius: 1em;
  color: #fff;
}
.right-callout h3 {
  color: #fff;
  margin-top: 1em;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
}
.right-callout ul li {
  color: rgba(255, 255, 255, 0.7);
}
.events-container {
  color: #fff;
  margin: 1em auto;
  max-width: 1170px;
}
.events-container p {
  color: #fff;
}
.events-container h2 {
  color: #ea7066;
  margin: 70px 0;
}
.events-container h3 {
  color: #fff;
  margin: 12px 0;
}
.events-container .two-column__list li:nth-child(4n+1) .event__content {
  background-color: #f0c24b;
}
.events-container .two-column__list li:nth-child(4n+2) .event__content {
  background-color: #b5d56a;
}
.events-container .two-column__list li:nth-child(4n+3) .event__content {
  background-color: #ea7066;
}
.events-container .two-column__list li:nth-child(4n+4) .event__content {
  background-color: #84bed6;
}
.event__content {
  height: 100%;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.event__commands {
  min-height: 40px;
  flex-grow: 1;
  position: relative;
}
.event__commands button {
  position: absolute;
  bottom: 0;
}
.event__date {
  font-size: 1.2em;
  font-weight: bold;
}
.event__time {
  padding-bottom: 1em;
}
.event__description {
  padding-bottom: 1em;
}
.inverse-button {
  background-color: #ffffff;
  color: #666666;
  font-weight: 600;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border: none;
  display: inline-block;
}
.inverse-button:hover {
  color: #b5d56a;
  outline: 0;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}
.navbar-nav .active a {
  color: #f0c24b !important;
}
.navbar-nav a {
  color: #ea7066 !important;
}
.navbar-nav a:hover {
  color: #84bed6 !important;
}
.quick-contact__container {
  display: flex;
}
.quick-contact__item {
  display: flex;
  flex: 1;
  color: #666;
  font-weight: 600;
}
.quick-contact__item a {
  color: #666;
  font-weight: 600;
}
.quick-contact__item span {
  display: inline-block;
  width: 85px;
  height: 85px;
  line-height: 85px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 30px;
  color: #fff;
  border-radius: 100%;
  margin-right: 10px;
}
.quick-contact__item.item--1 span {
  background-color: #f0c24b;
}
.quick-contact__item.item--2 span {
  background-color: #b5d56a;
}
.quick-contact__item.item--3 span {
  background-color: #ea7066;
}
.quick-contact__icon {
  flex: 1;
}
.quick-contact__info {
  flex: 3;
}
@media (max-width: 1200px) {
  .quick-contact__item {
    display: block;
  }
  .quick-contact__info {
    padding-top: 1em;
  }
}
@media (max-width: 768px) {
  .quick-contact__icon {
    flex: 0;
  }
  .quick-contact__item {
    margin-top: 1em;
    display: flex;
  }
  .quick-contact__info {
    padding-top: 0;
  }
  .quick-contact__container {
    display: block;
  }
}
